.sidebar {
    position: fixed;
    top: 55px;
    left: 0.2px;
    bottom: 0;
    width: 70px;
    background-color: white;
    z-index: 200;
}

.sidebar-link {
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.sidebar-link:hover {
    background-color: rgb(224, 223, 223);
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 6px;
}

.sidebar-link .text {
    font-size: 10px;
    font-family: roboto, arial; 
}